* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  min-height: 100vh;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
  scroll-behavior: smooth;
  
  display: flex;
  flex-direction: column;
}

body {
  line-height: 1.5;
  background-image: linear-gradient(to bottom right, #fdfcfb, #e2d1c3);
}

.null-container {
  width: 100%;
  padding-top: 50px;
}

section {
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #505050;
}

/*NAVBAR SECTION*/
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(233, 233, 233);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list li {
  padding: 0 1rem;
  width: 200px;
  text-align: center;
  padding: 8px;
}

.nav-list a {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.nav-list a:hover {
  color: #df8219;
  transition: all 0.3s ease 0s;
}
/*NAVBAR SECTION END*/
/*WELCOME SECTION*/
.welcome-section {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1280px;
  margin: auto;
  border-radius: 20px;
  margin: 80px auto 20px auto;
  padding: 20px;
  background-image: linear-gradient(62deg, #3a3d40 50%, #181719 100%);
}

.welcome-photos {
  display: grid;
  max-width: 300px;
  min-width: 20%;
}

.cat-photo,
.vince-photo {
  grid-area: 1/1;
}

.cat-photo img {
  width: 100%;
  border-radius: 10px;
  border: 0.5px solid orange;
}

.vince-photo img {
  width: 30%;
  border-radius: 10px;
  transform: rotate(-5deg);
}

.vince-photo img:hover {
  width: 100%;
  transition: ease all 0.5s;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: auto;
  padding: 20px 0px 20px 40px;
  font-family: calibri;
  color: #ffffff;
}

.text-container h2 {
  margin-top: 10px;
  font-weight: bold;
  line-height: 1px;
}

.text-container h1 {
  font-weight: bold;
}

.text-container h1 span {
  font-weight: bold;
  color: black;
}

.text-container .sub-title {
  font-size: 1.6rem;
  margin-top: -20px;
  margin-left: 30px;
  font-style: italic;
}

.text-container .intro-text {
  font-size: 1.6rem;
  margin-top: 30px;
  line-height: 2;
}

.text-container .intro-text span {
  color: #df8219;
  font-weight: 700;
  font-size: 2rem;
}

.text-container button {
  margin: 20px auto;
  padding: 5px;
  width: 120px;
  height: 40px;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  background-color: #000000;
  display: block;
}

/*WELCOME SECTION END*/
/*PROJECTS SECTION*/
.projects-section {
  width: 100%;
  max-width: 1280px;
  display: grid;
  grid-template-rows: 1fr 9fr;
}

.projects-intro {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto 1rem auto;
  border-bottom: 0.2rem solid;
  color: #505050;
  grid-column: 1 / 3;
}

.projects-grid {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
  justify-content: space-evenly;
  margin-bottom: 6rem;
  padding: 20px 0;
  font-family: Helvetica;
  border-radius: 10px;
  gap: 20px;
}

.grid-container {
  background-color: #d68528d2;
  padding: 20px 0;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(62deg, #3a3d40 50%, #181719 100%);
  padding: 10px 0;
  margin: auto;
}

.title {
  font-size: 1.5rem;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #ffffff;
  height: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
/*PROJECTS SECTION END*/

/*CONTACT SECTION*/
.contact-section {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;
  background-color: rgb(233, 233, 233);
  box-shadow: 5px 5px 12px black;
  position: relative;
  z-index: 1;
  height:75px;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  flex-wrap: wrap;
  color: rgb(233, 233, 233);
}

.contact-details {
  font-size: 2rem;
  padding: 0 10px;
  transition: transform 0.3s ease-out;
}

.contact-details:nth-child(1):hover {
  transform: translateY(-5px);
}
.contact-details:nth-child(2):hover {
  transform: translateY(-5px);
}
/*CONTACT SECTION END*/

@media (max-width: 1600px) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }

  .projects-section {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .nav-list li {
    width: 150px;
  }

  .nav-list a {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .welcome-section {
    width: 60%;
  }

  .welcome-photos {
    width: 50%;
  }

  .text-container {
    width: 100%;
    padding: 20px 5px;
  }

  .text-container h2 {
    font-size: 1.8rem;
  }

  .text-container h1 {
    font-size: 4rem;
  }

  .text-container h1 span {
    font-size: 4rem;
  }

  .text-container .sub-title {
    font-size: 1.4rem;
  }

  .text-container .intro-text {
    font-size: 1.4rem;
  }

  .text-container .intro-text span {
    color: #df8219;
    font-weight: 700;
    font-size: 1.4rem;
  }

  .text-container button {
    font-size: 1.2rem;
  }

  .projects-section {
    width: 60%;
  }

  .projects-intro h2 {
    font-size: 2.3rem;
  }
}

@media (max-width: 600px) {
  .nav-list a {
    font-size: 1.3rem;
  }

  .welcome-photos {
    display: flex;
    width: 50%;
    align-items: center;
  }

  .cat-photo img {
    display: none;
  }

  .vince-photo {
    display: flex;
  }

  .vince-photo img {
    z-index: 1;
    transform: rotate(0deg);
    width: 100%;
    border: 0.5px solid orange;
  }

  .projects-grid {
    grid-template-columns: minmax(100px, 1fr);
  }

  .title {
    font-size: 1rem;
  }

  .projects-intro h2 {
    font-size: 2rem;
  }
}
